/chapter01/node_modules/*
/chapter02/node_modules/*
/chapter03/node_modules/*
/chapter04/node_modules/*
/chapter04/try-react/node_modules/*
/chapter05/class-components/node_modules/*
/chapter05/hooks-components/node_modules/*
/chapter06/ejected-app/node_modules/*
/chapter07/redux/node_modules/*
/chapter07/try-react-router/node_modules/*
/chapter09/graphql-schema/node_modules/*
/chapter10/node-server/node_modules/*
/chapter10/gql-server/node_modules/*
/chapter12/super-forum-client/node_modules/*
/chapter15-daniel/todo-server/node_modules/*
/chapter15-daniel/todo-client/node_modules/*